<%- include('../layouts/index.ejs') %>
    <div class="container">
        <div class="page-inner">
            <% if (messages.errorIdAp) { %>
                <div class="d-flex justify-content-end">
                    <div class="alert alert-danger alert-dismissible fade show" style="width: 300px;position: fixed;"
                        role="alert">
                        <%= messages.errorIdAp %>
                            <button type="button" class="btn-close btn-sm" data-bs-dismiss="alert"
                                aria-label="Close"></button>
                    </div>
                </div>
                <% } %>
                    <a class="btn btn-light rounded-3  " href="/apartment">
                        <i class=" fa-solid fa-arrow-left-long"></i>
                    </a>
                    <div class="page-header">
                    </div>
                    <div class="row">
                        <form method="POST" action="/apartment/createApartment">
                            <div class="col-md-12 ">
                                <div class="card">
                                    <div class="card-header">
                                        <div class="card-title">Thêm căn hộ</div>
                                    </div>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-md-6 col-lg-4">
                                                <div class="form-group">
                                                    <label>Số căn hộ</label>
                                                    <input required type="number" name="ApartID" class="form-control">
                                                </div>
                                                <div class="form-group ">
                                                    <label>Tầng</label>
                                                    <input required type="number" name="Floor" class="form-control">
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-lg-4">
                                                <div class="form-group ">
                                                    <label>Số lượng phòng</label>
                                                    <input required type="number" name="TotalRoom" class="form-control">
                                                </div>
                                                <div class="form-group">
                                                    <label>Trạng thái</label>
                                                    <select class="form-select" name="Status">
                                                        <option>Đang ở</option>
                                                        <option>Trống</option>
                                                        <option>Sửa chữa</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-lg-4">
                                                <div class="form-group ">
                                                    <label for="Size">Diện tích/m2</label>
                                                    <input required type="number" name="Size" class="form-control">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-action">
                                        <a href="/apartment" class="btn btn-danger">Huỷ</a>
                                        <button type="submit" class="btn btn-primary">Xác nhận</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
        </div>
    </div>