<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Kaiadmin - Bootstrap 5 Admin Dashboard</title>
    <meta content="width=device-width, initial-scale=1.0, shrink-to-fit=no" name="viewport" />
    <link rel="icon" href="/assets/img/kaiadmin/favicon.ico" type="image/x-icon" />

    <!-- Fonts and icons -->
    <script src="/assets/js/plugin/webfont/webfont.min.js"></script>
    <script>
        WebFont.load({
            google: { families: ["Public Sans:300,400,500,600,700"] },

            active: function () {
                sessionStorage.fonts = true;
            },
        });
    </script>

    <!-- CSS Files -->
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/assets/css/plugins.min.css" />
    <link rel="stylesheet" href="/assets/css/kaiadmin.min.css" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css">

</head>


<body onload="updateDateTime()">
    <div class="wrapper">
        <!-- Sidebar -->
        <div class="sidebar" data-background-color="white">
            <div class="sidebar-logo">
                <!-- Logo Header -->
                <div class="logo-header" data-background-color="blue">
                    <a href="/homes" class="logo"> <img style="margin-left: -20px;" src="/images/IconF.png"
                            alt="navbar brand" class="navbar-brand" width="215" height="50" />
                    </a>
                    <div class="nav-toggle">
                        <button class="btn btn-toggle toggle-sidebar">
                            <i class="gg-menu-right"></i>
                        </button>
                        <button class="btn btn-toggle sidenav-toggler">
                            <i class="gg-menu-left"></i>
                        </button>
                    </div>
                    <button class="topbar-toggler more">
                        <i class="gg-more-vertical-alt"></i>
                    </button>
                </div>
                <!-- End Logo Header -->
            </div>
            <div class="sidebar-wrapper scrollbar scrollbar-inner">
                <div class="sidebar-content">
                    <ul class="nav nav-secondary">
                        <li class="nav-item "><a href="/homepage" aria-expanded="false"> <i
                                    class="fa-sharp fa-solid fa-chart-line"></i>
                                <p>Thống kê và báo cáo</p>
                            </a></li>

                        <li class="nav-item"><a data-bs-toggle="collapse" href="#base"> <i
                                    class="fa-solid fa-building-user fa-xs"></i>
                                <p>Hộ chung cư</p> <span class="caret"></span>
                            </a>
                            <div class="collapse" id="base">
                                <ul>
                                    <li>
                                        <a href="/apartment">
                                            <i style="font-size: 12px;" class="fa-solid fa-cube fa-2xs"></i>
                                            Danh sách căn hộ
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/categories">
                                            <i style="font-size: 12px;" class="fa-solid fa-cube fa-2xs"></i>
                                            Danh sách cư dân
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/products">
                                            <i style="font-size: 12px;" class="fa-solid fa-cube fa-2xs"></i>
                                            Danh sách hợp đồng
                                        </a>
                                    </li>
                                </ul>
                            </div>

                        <li class="nav-item"><a data-bs-toggle="collapse" href="#base2"> <i
                                    class="fa-solid fa-file-lines"></i>
                                <p>Hóa đơn</p> <span class="caret"></span>
                            </a>
                            <div class="collapse" id="base2">
                                <ul>
                                    <li>
                                        <a href="/suppliers">
                                            <i style="font-size: 12px;" class="fa-solid fa-cube fa-2xs"></i>
                                            Tiền nước
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/categories">
                                            <i style="font-size: 12px;" class="fa-solid fa-cube fa-2xs"></i>
                                            Tiền điện
                                        </a>
                                    </li>

                                </ul>
                            </div>

                        <li class="nav-item"><a data-bs-toggle="collapse" href="#sidebarLayouts"> <i
                                    class="fa-solid fa-user-gear"></i>
                                <p>Hệ thống</p> <span class="caret"></span>
                            </a>
                            <div class="collapse" id="sidebarLayouts">
                                <ul>
                                    <li><a href="../sidebar-style-2.html">
                                            <i style="font-size: 12px;" class="fa-solid fa-cube fa-2xs"></i>
                                            Quản lý tài khoản
                                        </a></li>
                                    <li><a href="/users">
                                            <i style="font-size: 12px;" class="fa-solid fa-cube fa-2xs"></i>Cài đặt
                                        </a></li>
                                </ul>
                            </div>
                        </li>

                        <li class="nav-item"><a href="/" aria-expanded="false"> <i
                                    class="fa-sharp fa-solid fa-arrow-right-from-bracket"></i>
                                <p>Đăng xuất</p>
                            </a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- End Sidebar -->

        <div class="main-panel">
            <div class="main-header">
                <div class="main-header-logo">
                    <!-- Logo Header -->
                    <div class="logo-header" data-background-color="dark">
                        <a href="index.html" class="logo">
                            <img src="assets/img/kaiadmin/logo_light.svg" alt="navbar brand" class="navbar-brand"
                                height="20" />
                        </a>
                        <div class="nav-toggle">
                            <button class="btn btn-toggle toggle-sidebar">
                                <i class="gg-menu-right"></i>
                            </button>
                            <button class="btn btn-toggle sidenav-toggler">
                                <i class="gg-menu-left"></i>
                            </button>
                        </div>
                        <button class="topbar-toggler more">
                            <i class="gg-more-vertical-alt"></i>
                        </button>
                    </div>
                    <!-- End Logo Header -->
                </div>
                <!-- Navbar Header -->
                <nav class="navbar navbar-header navbar-header-transparent navbar-expand-lg border-bottom"
                    data-background-color="blue">
                    <div class="container-fluid">
                        <nav
                            class="navbar navbar-header-left navbar-expand-lg navbar-form nav-search p-0 d-none d-lg-flex">
                            <h5 class="text-white mt-2" id="datetime"></h5>
                        </nav>

                        <ul class="navbar-nav topbar-nav ms-md-auto align-items-center">

                            <li class="nav-item topbar-icon dropdown hidden-caret">
                                <a class="nav-link dropdown-toggle" href="#" id="notifDropdown" role="button"
                                    data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fa fa-bell"></i>
                                    <span class="notification">4</span>
                                </a>
                                <ul aria-labelledby="notifDropdown">

                                </ul>
                            </li>

                            <li class="nav-item topbar-user dropdown hidden-caret">
                                <a class="dropdown-toggle profile-pic" data-bs-toggle="dropdown" href="#"
                                    aria-expanded="false">
                                    <div class="avatar-sm">
                                        <img src="/images/Admin.png" alt="..." class="avatar-img rounded-circle" />
                                    </div>
                                    <span class="profile-username">
                                        <span class="op-7">Xin chào,</span>
                                        <span class="fw-bold">
                                            <%=user.Username %>
                                        </span>
                                    </span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </nav>
                <!-- End Navbar -->
            </div>
            <!-- container here -->
</body>
<script src="/js/showDatetime.js"></script>

<!--   Core JS Files   -->
<script src="/assets/js/core/jquery-3.7.1.min.js"></script>
<script src="/assets/js/core/popper.min.js"></script>
<script src="/assets/js/core/bootstrap.min.js"></script>

<!-- jQuery Scrollbar -->
<script src="/assets/js/plugin/jquery-scrollbar/jquery.scrollbar.min.js"></script>

<!-- Chart JS -->
<script src="/assets/js/plugin/chart.js/chart.min.js"></script>

<!-- jQuery Sparkline -->
<script src="/assets/js/plugin/jquery.sparkline/jquery.sparkline.min.js"></script>

<!-- Chart Circle -->
<script src="/assets/js/plugin/chart-circle/circles.min.js"></script>

<!-- Datatables -->
<script src="/assets/js/plugin/datatables/datatables.min.js"></script>


<!-- jQuery Vector Maps -->
<script src="/assets/js/plugin/jsvectormap/jsvectormap.min.js"></script>
<script src="/assets/js/plugin/jsvectormap/world.js"></script>


<!-- Kaiadmin JS -->
<script src="/assets/js/kaiadmin.min.js"></script>

<!-- Kaiadmin DEMO methods, don't include it in your project! -->
<script src="/assets/js/setting-demo.js"></script>
<script src="/assets/js/demo.js"></script>

</html>